<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>SmartConfig :: Help</title>
        <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">
	<link type="text/css" rel="stylesheet" href="static/css/lib/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="static/css/lib/fontawesome-all.min.css">
	<link type="text/css" rel="stylesheet" href="static/css/lib/font-awesome-animation.min.css">
	<link type="text/css" rel="stylesheet" href="static/css/lib/animate.min.css">
        <link type="text/css" rel="stylesheet" href="static/css/common.css">
        <link type="text/css" rel="stylesheet" href="static/css/fonts.css">
        <link type="text/css" rel="stylesheet" href="static/css/popup.css">
        <link type="text/css" rel="stylesheet" href="static/css/help.css">
	<script type="text/javascript" src="static/js/lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="static/js/lib/jquery.mask.min.js"></script>
	<script type="text/javascript" src="static/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="static/js/lib/download.min.js"></script>
	<script type="text/javascript" src="static/js/common.js"></script>
	<script type="text/javascript" src="static/js/templates.js"></script>
	<script type="text/javascript" src="static/js/pdt/layout.js"></script>
	<script>
		function loadPageContent() {}
	</script>
</head>
<body>
<header lpanel-effect="shrink" class="minimized-lpanel" color-type="logo-bg5">
        <div class="right-header" position-type="relative" color-type="header-bg4">
                <ul class="left-navbar pull-left">
                        <li class="logo img-responsive"></li>
                        <li class="header">SmartConfig</li>
                </ul>
        </div>
</header>
<div class="content">
	<div class="modal-frame">
		<div class="modal">
			<div class="modal-inset widget col-lg-7 col-md-7 col-sm-10 col-xs-10 center">
				<div class="modal-head widget-header">
					<div class="widget-title col-lg-11 col-md-11 col-sm-11 col-xs-11 nopadding"></div>
					<div class="widget-subtitle col-lg-1 col-md-1 col-sm-1 col-xs-1 nopadding">
						<i class="fa fa-times pull-right closeModel" alt="Close" title="Close"></i>
						<div class="clear"></div>
					</div>
				</div>
				<div class="modal-body widget-content">
					<div id="popupFrm">
						<input type="hidden" id="form_primaryid" name="form_primaryid" class="form-control hide">
						<div id="form-body"></div>
						<div class="form-footer"></div>
	            			</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-overlay"></div>
	<div class="footer">
		<div class="copyright title pull-left"></div>
		<div class="software-version title pull-right"></div>
	</div>
<p><a name="Common-Icons"></a></p>
<h3>Common Icons</h3>
<p>The following table provides information about the common icons used in the user interface.</p>
<table>
<thead>
<tr>
<th align="center">Icon</th>
<th align="left">Name</th>
<th align="left">Description</th>
<th align="left">Action</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center"><i class="fa fas fa-sync faa-spin animated active" alt="In-Progress" title="In-Progress"></i></td>
<td align="left">In-Progress</td>
<td align="left">Represents an operation  <strong>in-progress</strong>.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><img alt="Burger Menu" src="./static/images/burger-icon.png" title="Burger Menu" /></td>
<td align="left">Menu</td>
<td align="left">Represents any <strong>additional options</strong>.</td>
<td align="left">Press <strong>Menu</strong> to open a side menu with list of options.</td>
</tr>
<tr>
<td align="center"><div class="icon"><img alt="Reachable/Online" src="./static/images/online.png" title="Reachable/Online" /></div></td>
<td align="left">Reachable</td>
<td align="left">Represents <strong>Reachable state</strong> of FlashArray.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><div class="icon"><img alt="Reachable/Offline" src="./static/images/offline.png" title="Reachable/Offline" /></div></td>
<td align="left">Not Reachable</td>
<td align="left">Represents <strong>Not Reachable state</strong> of FlashArray.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><i class="fa fa-cog" alt="Settings" title="Settings"></i></td>
<td align="left">Settings</td>
<td align="left">Represents general <strong>Settings</strong>.</td>
<td align="left">Press <strong>Settings</strong> to view/edit configuration settings.</td>
</tr>
<tr>
<td align="center"><i class="fa fa-plus-circle" alt="Add" title="Add"></i></td>
<td align="left">Add</td>
<td align="left">Provides option to <strong>add</strong> FlashArray.</td>
<td align="left">Press <strong>Add</strong> to add  FlashArray.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-times" alt="Close/Cancel" title="Close/Cancel"></i></td>
<td align="left">Close</td>
<td align="left">Provides option to <strong>close</strong> the current window.</td>
<td align="left">Press the <strong>Close</strong> icon to remove the current window, dialog box or popup message from the screen.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-trash-alt red-text" alt="Trash/Delete" title="Trash/Delete"></i></td>
<td align="left">Trash</td>
<td align="left">Provides option to delete an object.</td>
<td align="left">Press <strong>Trash</strong> to delete an object, such as devices, images, etc.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-th-large" alt="Library" title="Library"></i></td>
<td align="left">Library</td>
<td align="left">Used for <strong>uploading and selecting</strong> the firmware and OS images.</td>
<td align="left">Press the <strong>Library</strong> icon to upload firmware and OS images.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-info-circle" alt="Info" title="Info"></i></td>
<td align="left">Info</td>
<td align="left">Represents detailed information.</td>
<td align="left">Press <strong>Info</strong> to get detailed information.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-question-circle" alt="Help" title="Help"></i></td>
<td align="left">Help</td>
<td align="left">Represents help message for the object.</td>
<td align="left">Press <strong>Help</strong> to view generic help message for the object.</td>
</tr>
<tr>
<td align="center"><span class="required" alt="Required" title="Required"></span></td>
<td align="left">Asterisk</td>
<td align="left">Indicates mandatory field to be completed.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><div class="progress-bar orange-bar shine stripes small" alt="Progress Bar" title="progress Bar"><span class="orange-background" style="width: 50%"></span></div></td>
<td align="left">Progress bar</td>
<td align="left">Represents the progress of an operation.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-undo red-text" alt="Factory Reset" title="Factory Reset"></i></td>
<td align="left">Factory Reset</td>
<td align="left">Provides the ability to factory reset SmartConfig.</td>
<td align="left">Press <strong>Reset</strong> icon to restore the SmartConfig to its original settings. Please note that any uploaded images will not be removed during this operation.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-check-circle green-text" alt="Success" title="Success"></i></td>
<td align="left">Success</td>
<td align="left">Represents the <strong>successful completion</strong> of an operation.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-exclamation-triangle red-text" alt="Failure" title="Failure"></i></td>
<td align="left">Failure</td>
<td align="left">Represents the <strong>failed state</strong> of an operation.</td>
<td align="left">None</td>
</tr>
</tbody>
</table>
<p><a name="Deployment-Icons"></a></p>
<h3>Deployment Icons</h3>
<p>The following table provides information about the icons used in the workflow deployment.</p>
<table>
<thead>
<tr>
<th align="center">Icon</th>
<th align="left">Name</th>
<th align="left">Description</th>
<th align="left">Action in Basic View</th>
<th align="left">Action in Advanced View</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center"><i class="fa fas fa-clipboard-list" alt="Deployment Log" title="Deployment Log"></i></td>
<td align="left">Scroll</td>
<td align="left">Scroll for workflow logs.</td>
<td align="left">Press <strong>Scroll</strong> to navigate to the start location of workflow log.</td>
<td align="left">Press <strong>Scroll</strong> to navigate to the start location of workflow log.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-play blue-text" alt="Play/Execute" title="Play/Execute"></i></td>
<td align="left">Play</td>
<td align="left">Execute a workflow.</td>
<td align="left">None</td>
<td align="left">Press <strong>Play</strong> to execute the workflow.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-info-circle" alt="Info" title="Info"></i></td>
<td align="left">Info</td>
<td align="left">Basic workflow information.</td>
<td align="left">Press <strong>Info</strong> to view basic info of workflow.</td>
<td align="left">None</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-check-circle green-text" alt="Success" title="Success"></i></td>
<td align="left">Success</td>
<td align="left">Represents success for workflow deployment.</td>
<td align="left">None</td>
<td align="left">Press <strong>Success</strong> icon to open task level view.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-exclamation-triangle red-text" alt="Failure" title="Failure"></i></td>
<td align="left">Failure</td>
<td align="left">Represents failure for workflow deployment.</td>
<td align="left">None</td>
<td align="left">Press <strong>Failure</strong> icon to open  task level view.</td>
</tr>
<tr>
<td align="center"><div class="icon"><img alt="Execution In-progress" src="./static/images/clockwise.gif" title="Execution In-progress" /></div></td>
<td align="left">In-Progress</td>
<td align="left">Represents execution in progress.</td>
<td align="left">None</td>
<td align="left">Press <strong>In-progress</strong> icon to open task level view.</td>
</tr>
<tr>
<td align="center"><div class="icon"><img alt="Rolling Back" src="./static/images/anticlockwise.gif" title="Rolling Back" /></div></td>
<td align="left">Rollback</td>
<td align="left">Represents rollback in progress.</td>
<td align="left">None</td>
<td align="left">Press <strong>Rollback</strong> icon to open rollback view.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-edit" alt="Edit/Modify" title="Edit/Modify"></i></td>
<td align="left">Edit/Modify</td>
<td align="left">Provides ability to edit the task inputs.</td>
<td align="left">None</td>
<td align="left">Press <strong>Edit/Modify</strong> icon to open  task level view.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-download" alt="Download Log" title="Download Log"></i></td>
<td align="left">Download Log</td>
<td align="left">Provides the ability to download the deployment log.</td>
<td align="left">Press <strong>download</strong> icon to download the deployment log.</td>
<td align="left">Press the <strong>download</strong> icon to download the deployment log.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-expand-arrows-alt" alt="Expand" title="Expand"></i></td>
<td align="left">Expand</td>
<td align="left">Expand task groups.</td>
<td align="left">None</td>
<td align="left">Press to see <strong>expanded view</strong> of the block.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-plus-circle" alt="Zoom In" title="Zoom In"></i></td>
<td align="left">Zoom In</td>
<td align="left">Represents the <strong>zoom in/scale up</strong> operation.</td>
<td align="left">None</td>
<td align="left">Press <strong>Zoom in</strong> icon to increase magnification.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-minus-circle" alt="Zoom Out" title="Zoom Out"></i></td>
<td align="left">Zoom Out</td>
<td align="left">Represents the <strong>zoom out/scale down</strong> operation.</td>
<td align="left">None</td>
<td align="left">Press <strong>Zoom out</strong> icon to decrease magnification.</td>
</tr>
<tr>
<td align="center"><i class="fa fas fa-stop-circle" alt="Zoom Reset" title="Zoom Reset"></i></td>
<td align="left">Zoom Reset</td>
<td align="left">Provides the ability to reset the view to original size.</td>
<td align="left">None</td>
<td align="left">Press <strong>Zoom Reset</strong> icon to reset to the original size.</td>
</tr>
</tbody>
</table></div>
</body>
</html>
