.pagination {
	margin: 0;
	padding: 10px 0;
	width: 100%;
}
.pagination a {
	display: inline-block;
	border: 1px solid #C5C5C5;
	background-color: #F7F7F7;
	color: #8D8D8D;
	height: 30px;
	width: 29px;
	border-radius: 4px;
	text-decoration:none; 
	font-weight: bold;
	margin-left: 7px;
	padding: 7px;
}
.pagination li {
	font-size: 14px;
	list-style-type: none;
	color: #454545;
	display: inline-block;
}
#page-info {
	font-size: 19px;
	margin-right: 5px;
	line-height: 30px;
}
.currentPage {
	font-family: ProximaNovaSemibold;
	color: #454545;
}
.totalCount {
	font-family: ProximaNovaRegular;
	color: #8D8D8D;
}
